.cabecalho {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
}

.cabecalho h1 {
    margin: 20px 50px;
}

.navBar ul {
    display: flex;
    list-style: none;
    margin: 30px 50px;
}

.navBar ul li {
    margin-left: 20px;
}

.navBar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navBar ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {

    .cabecalho h1 {
        margin: 50px 50px;
        width: 25%;
    }

    .navBar {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 55%;
    }

    .navBar ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 30px 0px;
        margin-left: 0;
        padding: 0;
    }

    .navBar ul li {
        margin-left: 20px;
        margin-bottom: 20px;
    }
}